<main>
  <label for="email">Enter your email</label>
  <input type="email" id="email" name="email" placeholder="example@gmail.com" />

  <label for="password">Password</label>
  <input type="password" id="password" name="password" />

  <label for="confirmpassword">Confirm password</label>
  <input type="password" id="confirmpassword" name="confirmpassword" />

  <div class="checkbox-container">
    <label for="admin">Admin</label>
    <input type="checkbox" id="admin" name="admin" />
  </div>

  <button>Register</button>
</main>
